<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpBD_apV62LD1bbe9NgxFdaeXvHXfP96Q</string>
	<key>GCM_SENDER_ID</key>
	<string>135998495392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>infyProject.myShelf</string>
	<key>PROJECT_ID</key>
	<string>myshelf-8f3d1</string>
	<key>STORAGE_BUCKET</key>
	<string>myshelf-8f3d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135998495392:ios:deb673ac1c89fc661747c5</string>
</dict>
</plist>